.padded {
    margin-right: 15px;
}

.boxsize {
    width: 500px;
    height: 150px;
    margin-bottom: 20px;
}

.buttons {
    margin: 25px;
    margin-left: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.darkMode {
    background-color: #121212;
    color: grey;
    margin-bottom: 50px;
}